/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  min-inline-size: 100vw;
  font-family: var(--main-font), 'sans-serif';
  font-variation-settings: "wght" var(--description-font-weight);
  background-image: var(--page-background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.page__wrapper {
  inline-size: var(--page-content-width);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px clamp(327px, 50vw, 368px) 100px;
  justify-items: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  inline-size: var(--page-content-width);
  block-size: clamp(327px, 50vw, 368px);
  grid-row: 2;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
  font-family: var(--accent-font), 'sans-serif';
  border: solid 2px var(--main-text-color);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header__title {
  justify-self: center;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  background-color: var(--main-background-color);
  border: solid 2px var(--main-text-color);
}

.card p + p {
  margin-block-start: 25px;
}

.image-wrapper {
  position: relative;
}


.first-sprint__start {
  filter: brightness(200%);
}

.first-sprint__end {
  filter: contrast(400%);
}

.second-sprint__start {
  filter: blur(0.3rem);
}

.second-sprint__end {
  filter: opacity(0.7);
}

.third-sprint__start {
  filter: grayscale(100%);
}

.third-sprint__end {
  filter: saturate(158%);
}

.fourth-sprint__start {
  filter: sepia(80%) hue-rotate(-90deg);
}

.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), 'sans-serif';
  font-size: var(--accent-text-size);
  opacity: 0.5;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  color: var(--main-text-color);
  mix-blend-mode: hard-light;
}

.card-title {
  font-family: var(--main-font), 'sans-serif';
  font-size: var(--main-text-size);
  padding: 4px 10px;
  font-variation-settings: "wght" var(--title-font-weight);
  line-height: 22px;
}

.card-description {
  display: grid;
  font-family: var(--main-font), 'sans-serif';
  font-size: var(--main-text-size);
  line-height: 21px;
  padding: 25px;
}

.card-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin-block-start: 25px;
  inline-size: 100%;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 38px;
  block-size: 38px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  justify-self: end;
  border: solid 2px var(--main-text-color);
}

.card__save-button {
  display: flex;
  align-items: center;
  justify-self: center;
  inline-size: fit-content;
  margin-block-end: 100px;
  padding: 15px 20px;
  gap: 8px;
  border: solid 2px var(--main-text-color);
}

.button__text {
  font-family: var(--accent-font), 'sans-serif';
  font-size: var(--accent-text-size);
}

.button__text,
.button svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.button svg {
  fill: currentColor;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.dialog-floppy {
  display: none
}

.dialog-floppy[open] {
  min-inline-size: 341px;
  max-inline-size: 353px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 30px;
}

.dialog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__content svg {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.close-button {
  display: flex;
  justify-content: center;
  padding: 12.5px 0;
  border: solid 2px var(--main-text-color);
}

.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  background-color: var(--button-background-color);
}

.button:focus {
  border: none;
  box-shadow: 2px 2px 0 var(--main-text-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}


.button:hover::before {
  transform: translateX(0);
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .image-label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

@supports not (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .image-label {
    text-shadow:
      -1px 0 var(--text-stroke-color),
      1px 0 var(--text-stroke-color),
      0 -1px var(--text-stroke-color),
      0 1px var(--text-stroke-color);
  }
}

@media (width <= 375px) {

  .image-wrapper img {
    block-size: 371px;
  }

  .card-description {
    line-height: 21.4px;
  }

  .card__save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*margin-inline: 34.5px;*/
    margin-block-end: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .card__save-button svg {
    width: 28px;
    height: 28px;
  }

  .dialog-floppy[open] {
    padding: 30px 40px;
  }
}