/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  min-inline-size: 320px;
  margin-inline: auto;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--description-font-weight);
  background-image: var(--page-background-gradient);
  background-size: cover;
  background-attachment: fixed;
  inline-size: var(--page-content-width);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px clamp(327px, 50vw, 368px) 100px;
  justify-items: center;
  inline-size: var(--page-content-width);
}

.header__content {
  display: flex;
  flex-direction: column;
  block-size: clamp(327px, 50vw, 368px);
  grid-row: 2;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
  font-family: var(--accent-font), sans-serif;
  border: solid 2px var(--main-text-color);
  inline-size: var(--page-content-width);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__title {
  justify-self: center;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  background-color: var(--main-background-color);
  border: solid 2px var(--main-text-color);
}

.card p + p {
  margin-block-start: 25px;
}

.image-wrapper {
  position: relative;
  margin: 0;
}

.image-wrapper img {
  block-size: clamp(371px, 100vw, 696px);
  object-fit: cover;
  border-top: solid 2px var(--main-text-color);
  border-bottom: solid 2px var(--main-text-color);
}


.filter-brightness {
  filter: brightness(200%);
}

.filter-contrast {
  filter: contrast(400%);
}

.filter-blur {
  filter: blur(0.3rem);
}

.filter-opacity {
  filter: opacity(0.7);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-saturate {
  filter: saturate(158%);
}

.filter-sepia-hue-rotate {
  filter: sepia(80%) hue-rotate(-90deg);
}

.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--accent-text-size);
  opacity: 0.5;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  color: var(--main-text-color);
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--text-stroke-color),
  1px 0 var(--text-stroke-color),
  0 -1px var(--text-stroke-color),
  0 1px var(--text-stroke-color);
  text-transform: uppercase;
  z-index: 1;
}

.card-title {
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-text-size);
  padding: 4px 10px;
  font-variation-settings: 'wght' var(--title-font-weight);
  line-height: 22px;
}

.card-description {
  /*display: grid;*/
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-text-size);
  line-height: 21px;
  padding: 27px 25px;
}

.card-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-block-start: 25px;
  inline-size: 100%;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-text-color);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  justify-self: end;
  border: solid 2px var(--main-text-color);
}

.card__like-button:focus {
  border: none;
}

.card__like-button:focus-visible {
  border: solid 2px var(--main-text-color);
}

.card__save-button {
  display: flex;
  align-items: center;
  justify-self: center;
  inline-size: fit-content;
  margin-block-end: 100px;
  padding: 15px 20px;
  gap: 8px;
  border: solid 2px var(--main-text-color);
}

.button__text {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--accent-text-size);
}

.button__text,
.button svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.button svg {
  fill: currentColor;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.dialog-floppy {
  display: none;
}

.dialog-floppy[open] {
  min-inline-size: 341px;
  max-inline-size: 353px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 30px;
}

.dialog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__content svg {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.close-button {
  display: flex;
  justify-content: center;
  padding: 12.5px 0;
  border: solid 2px var(--main-text-color);
}

.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  background-color: var(--button-background-color);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-text-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}


.button:hover::before {
  transform: translateX(0);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
  fill: var(--like-icon-contour);
}

.like-icon:hover .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--like-icon-contour);
}

.like-icon:active .core {
  transition: fill 0.3s linear;
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in 1;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .image-label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

@media (width <= 375px) {

  .image-wrapper img {
    max-block-size: 371px;
  }

  .card-description {
    line-height: 21px;
  }

  .card__save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block-end: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .card__save-button svg {
    width: 28px;
    height: 28px;
  }

  .dialog-floppy[open] {
    padding: 30px 40px;
  }
}